
def procentag(meineGesamtePunkte=0, gesamteNote=0):
    y= meineGesamtePunkte * 100 / gesamteNote
    x= meineGesamtePunkte * gesamteNote / 100
    z= meineGesamtePunkte - x

    return f'die Gesamte Note :{gesamteNote:.2f} Meine Leistung {y / 100:.1%}'
    #return f'the Product preis :{Product:.2f} cost now : {z:.2f} $ after {Preis/100:.1%}'

def rech():

    print(procentag(40.50,92))
rech()
my_file=open("myfile2","a")

my_file.readlines(my_file)
my_file.close()
